//
// <%= pkg.name.slug %>.<%= dtv.name.camel %>
//
// (c) <%= (new Date).getFullYear() %> <%= author.name %> (<%= author.email %>)
//
// SPDX-License-Identifier: <%= pkg.license %>
//                          (http://spdx.org/licenses/<%= pkg.license %>.html)
//

// injector:stylus:begin
// injector:stylus:end
